---
import BaseHead from '@components/layout/BaseHead.astro';
import SEO from '@components/layout/SEO.astro';
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';

interface Props {
	title?: string;
	description?: string;
	ogType?: string;
}

const { 
	title = "Criterios Tree | Luxury Experience",
	description = "Descubre la excelencia en panadería artesanal y concienciación con Criterios.",
	ogType
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={title} />
		<SEO title={title} description={description} ogType={ogType} />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	body {
		padding-top: 80px; /* Espacio para el header fixed */
	}
</style>
